<div class="span-4">
  Things To Do:
  <br />
    <a href="#">My Profile</a>
    <br/>
    <a href="#">Edit My Profile</a>
    <br />
    <a href="#">Edit My Preferences</a>
    <br />
    <a href="#">Make Friends</a>
    <br />
    <a href="http://en.wikipedia.org/wiki/Time_travel">More about time travel</a>
</div>
